/* basic style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;

  font-family: "lato", sans-serif;
  color: #333;
}

.aaa {
  display: block;
  width: 500px;
  margin: 0 auto;
  
  text-align: right;
}

.aaa img { width: 100%; }

.aaa .more_inf {
  font-family: "fantasy", cursive;
}

@media (max-width: 768px) {

  .aaa { text-align: center; }

}

.centered-main-page-element {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  display: inline-block;
  width: 56%;
  flex-grow: 1;
}

.task-row-wrapper { display: flex; }

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  width: 60px;
  background: none;
  border: 0px;

  font-size: 15px;
  color: #888;
  
  cursor: pointer;
}

button :hover { color: #3a3a3a; }

/* heading */

h3,
label[for="new-task"] {
  padding: 30px 0 10px;
  border-bottom: 2px solid #333;

  font-size: 15px;
  font-weight: 700;
  color: #333;
  
  text-transform: uppercase;
}

input[type="text"] {
  height: 21px;
  padding: 0 9px;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;

  font-size: 18px;
  line-height: 18px;
  color: #888;
}

input[type="text"] :focus { color: #333; }

/* new task */

label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

input #new-task { width: 318px; }

p > button :hover { color: #0fc57c; }

/* task list */

li {
  display: flex;
  padding: 20px 0;

  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;

  overflow: hidden; 
}

li > * { vertical-align: middle; }

li > input[type="checkbox"] { margin: 0 10px; }

li > label {
  width: 226px;
  padding-left: 10px;

  font-size: 18px; 
}

li > input[type="text"] {  width: 226px; }

li > button .delete :hover { color: #cf2323; }

button .delete img {
  height: 2em;

  transform: rotatez(45deg);
  transition: transform 200ms ease-in;
}

button.delete img:hover { transform: rotatez(0); }

/* completed */

ul #completed-tasks label { text-decoration: line-through #888; }

/* edit task */

ul li input[type="text"] { display: none; }

ul li.editmode input[type="text"] {
  display: inline-block;
  width: 224px;
}

ul li .editmode label { display: none; }