/* Basic Style */
input,
button {
  outline: none;
}

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.wrapper .wrapper--img {
  width: 100%;
}
.wrapper .link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .wrapper {
    text-align: center;
  }
}
.todo-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.todo-wrapper--item {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.text-container {
  display: flex;
}
.task-list {
  margin: 0;
  padding: 0px;
}
.task-list--item,
.header {
  list-style: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}
/* Heading */
.header,
.todo-wrapper--label__new {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.todo-wrapper--input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.todo-wrapper--input:focus {
  color: #333;
}

/* New Task */
.todo-wrapper--label__new {
  display: block;
  margin: 0 0 20px;
}
.todo-wrapper--input__new {
  width: 318px;
}

/* Task list */
.task-list--item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-list--item > * {
  vertical-align: middle;
}

.task-list--item > .todo-wrapper--checkbox {
  margin: 0 10px;
}
.task-list--item > .todo-wrapper--label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-list--item > .todo-wrapper--input {
  width: 226px;
}
.button__delete .button--image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button__delete .button--image:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list__completed .todo-wrapper--label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list .task-list--item .todo-wrapper--input {
  display: none;
}

.task-list .task-list--item__edit .todo-wrapper--input {
  display: inline-block;
  width: 224px;
}

.task-list .task-list--item__edit .todo-wrapper--label {
  display: none;
}
