
/* Basic Style */
.page-body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.my-header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.my-header__img {
  width: 100%;
}
.my-header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

.my-header { text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task-block__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-block__wrapper {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li,
.incompleteTasks__task {
  list-style: none;
}
input,
button{
  outline: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}
/* Heading */
h3,
.task-block__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-block__task,
.incompleteTasks__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-block__task:hover,
.incompleteTasks__input:hover {
  color: #333;
}

/* New Task */
.task-block__label {
  display: block;
  margin: 0 0 20px;
}
.task-block__task {
  width: 318px;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*li > * {*/
/*  vertical-align: middle;*/
/*}*/

li > input[type="checkbox"] {
  margin: 0 10px;
}
li > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-block__task,
.incompleteTasks__input {
  width: 226px;
}
.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed__list label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display: none;
}

ul li.editMode input[type=text] {
  display: inline-block;
  width: 224px;
}

ul li.editMode label {
  display: none;
}
