/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header .img {
  width: 100%;
}

.header .header__inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header { text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task__form {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-wrapper {
  display: flex;
}

.tasks {
  margin: 0;
  padding: 0px;
}

.task,
.title {
  list-style: none;
}

.input,
.btn{
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.title,
.label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input[type="text"]:focus {
  color: #333;
}

/* New Task */
.label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

.input#new-task {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > * {
  vertical-align: middle;
}

.task > .input[type="checkbox"] {
  margin: 0 10px;
}

.task > .label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task >    .input[type="text"] {
  width: 226px;
}

.btn-delete .img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-delete .img:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks#completed-tasks .label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks .task .input[type="text"] {
  display: none;
}

.tasks .task.edit-mode .input[type="text"] {
  display: inline-block;
  width: 224px;
}

.tasks .task.edit-mode .label {
  display: none;
}