/* Basic Style */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    color: #333;
    font-family: Lato, sans-serif;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
    padding: 0;
    margin: 0;
}

ul, li, button {
    display: block;
}

li, 
h3 {
    list-style: none;
}

input,
button {
    outline: none;
}

.intro {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

@media (max-width:768px) {

  .intro { 
  	text-align: center;
  }

}

.intro-img {
    width: 100%;
}

.intro-link {
    font-family: fantasy, cursive;
}

.container {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.task-row-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between
}

.btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.btn:hover {
    color: #3A3A3A;
}


/* Heading */

.category-title {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    text-transform: uppercase;
}

.input-line {
	font-size: 18px;
    height: 21px;
    border: 1px solid #DDD;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.task-text {
    padding: 0 9px;
}

.task-text:focus {
    color: #333;
}

/* New Task */

.new-task {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

/* Task list */

.item-line {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    margin: 0 10px;
}

.task {
   	padding-left: 10px;
    font-size: 18px;
    width: 100%;
    padding-right: 30px;
}

.delete:hover {
    color: #CF2323;
}

.img-delete {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.img-delete:hover {
    transform: rotateZ(0);
}


/* Completed */
.completed-tasks .task {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.task-text,
.edit-mode .task {
    display: none;
}

.edit-mode .task-text {
    display: block;
    width: 100%;
}

