/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.adding__input-text,
.task__text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.adding__row-wrapper {
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.text-button:hover {
  color: #3a3A3a;
}

/* Heading */
.adding__title, .section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-text:focus {
  color: #333;
}

/* New Task */
.adding {
  padding: 20px 0;
}

.adding__title {
  display: block;
  margin: 0 0 20px;
}

.adding__input-text {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__input-checkbox {
  margin: 0 10px;
}

.task__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__input-text {
  width: 226px;
  flex-grow: 1;
}

.task__button-delete {
  height: 2em;
  transform: rotate(45deg);
  transition: transform 200ms ease-in;
  background: url(./remove.svg) no-repeat center;
}

.task__button-delete:hover {
  transform: rotate(0);
}

/* Completed */
#completed-tasks .task__text {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__input-text {
  display: none;
}

.task.edit-mode .task__input-text {
  display: inline-block;
  width: 224px;
}

.task.edit-mode .task__text {
  display: none;
}