/* default styles */
ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

ul,
li,
input[type=text] {
  display: none;
}

/* Basic Style */

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.description {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.description__view {
  width: 100%;
}

.description__link {
  font-family: fantasy, cursive;
}

.todo {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.todo__task{
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todo__row {
  display: flex;
}

input,
button{
  outline: none;
}

.todo__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.todo__btn:hover {
  color: #3a3A3a;
}

/* Heading */

.todo__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

/* New Task */

.todo__title.todo__title_add {
  display: block;
  margin: 0 0 20px;
}

input#new-task {
  width: 318px;
}

/* Task list */

.todo__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__item > * {
  vertical-align: middle;
}

.todo__item > input[type="checkbox"] {
  margin: 0 10px;
}

.todo__item > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.todo__item > input[type="text"] {
  width: 226px;
}

.todo__btn.todo__btn_delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo__btn.todo__btn_delete img:hover {
  transform: rotateZ(0);
}

/* Completed */

#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.todo__list li.todo__item_edit-mode input[type=text] {
  display: inline-block;
  width: 224px;
}

.todo__list li.todo__item_edit-mode label {
  display: none;
}

@media (max-width:768px) {

  .description { 
    text-align: center;
  }
  
}