/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task__input,
.task__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task__wrapper {
  display: flex;
}

.task__list {
  margin: 0;
  padding: 0px;
}

.task__item,
.task__header {
  list-style: none;
}

.task__input,
.task__btn {
  outline: none;
}

.task__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.task__btn:hover {
  color: #3a3a3a;
}

/* Heading */
.task__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task__input:focus {
  color: #333;
}

/* New Task */
.task__header[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */
.task__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__item >
* {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}

.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__item >
.task__input {
  width: 226px;
}

.task__btn_delete
.task__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__btn_delete
.task__icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.task__list_complete
.task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__item >
.task__input {
  display: none;
}

.task__item_edit
.task__input {
  display: inline-block;
  width: 224px;
}

.task__item_edit
.task__label {
  display: none;
}