/* Basic Style */
body  {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}
.header  {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}
.header img  {
    width: 100%;
}
.header__link  {
    font-family: Fantasy, cursive;
}
@media (max-width: 768px)  {

    .header  {
        text-align: center;
    }
}
.main  {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}
.todo-list__task,
.todo-list__input {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}
.task-row-wrapper {
    display: flex;
}
ul  {
    margin: 0;
    padding: 0;
}
li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

li,
h3  {
    list-style: none;
}
input,
button  {
    outline: none;
}
button  {
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
button:hover  {
    color: #3a3a3a;
}
/* Heading */
h3,
.section__new-task  {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
.todo-list__input,
.section__button  {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}
.todo-list__input:focus  {
    color: #333;
}

/* New Task */
.section__new-task  {
    display: block;
    margin: 0 0 20px;
}
.section__button {
    width: 318px;
}
.section__btn:hover  {
    color: #0fc57c;
}

/* Task list */
li  {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    vertical-align: middle;

}
/*li > *  {
    vertical-align: middle;
}*/
.todo-list__checkbox  {
    margin: 0 10px;
}


.section__button  {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}
.todo-list__button,
.todo-list__input  {
    width: 226px;
}
.delete img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}
.delete  {
    background: none;
    border: 0;
}
.delete:hover  {
    color: #cf2323;
}
.delete img:hover  {
    transform: rotateZ(0);
}

/* Completed */
.list-complete .todo-list__task_completed {
    text-decoration: line-through;
    color: #888;
}
.todo-list__input,
.todo-list .todo-list__task  {
    display: none;
}

.todo-list .todo-list__input,
.todo-list__task  {
    display: inline-block;
    width: 224px;

}


.section__button  {
    width: 318px;
}