/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.matrix__img {
  width: 100%;
}
.matrix .matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .matrix {
    text-align: center;
  }
  
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.addition__row {
  display: flex;
}
.todo__list,
.completed__list {
  margin:0;
  padding: 0px;
}
.todo__item,
.completed__item, h3 {
  list-style:none;
}
.inout,
.btn {
  outline:none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3A3a;
}
/* Heading */
h3 {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input:focus {
  color: #333;
}

/* New Task */
.label {
  display: block;
  margin: 0 0 20px;
}
.addition__task {
  width: 318px;
}

/* Task list */
.list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__item > * {
  vertical-align: middle;
}
.app__checkbox {
  margin: 0 10px;
}
.completed__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.app__input {
  width: 226px
}
.app__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.app__image:hover {
  transform: rotateZ(0);
}
/* Completed */
.completed__task {
  text-decoration: line-through;
  color: #888;
}
/* Edit Task */
.app__input {
  display:none;
  display:inline-block;
  width:224px;
}
.app__label {
  display:none;
}