/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link{
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

.header { text-align: center;
}

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task__input,
.task__text,
.form-add__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.form-add__wrapper {
  display: flex;
}
.tasks-list {
  margin: 0;
  padding: 0px;
}
.task,
.heading {
  list-style: none;
}
.task__input,
.task__button{
  outline: none;
}
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button:hover {
  color: #3a3A3a;
}
/* Heading */
.heading,
.form-add__heading
{
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.form-add__input,
.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task__input:focus {
  color: #333;
}

/* New Task */
.form-add__heading {
  display: block;
  margin: 0 0 20px;
}

.form-add__input {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task > * {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}
.task__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.task__img-delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.task__img-delete:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks-list,.task__text {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__input {
  display: none;
}

.task-edit .task__input {
  display: inline-block;
  width: 224px;
}

.task-edit .task__text {
  display: none;
}