/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header-logo {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header-logo img {
  width: 100%;
}
.header-logo,
.header-link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header-logo { 
    text-align: center;
  }
  
}
.main-centered-element {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.new-task-input, 
.task-input,
.task-label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-row-wrapper {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li, 
h3 {
  list-style: none;
}
input,
button {
  outline: none;
}
.edit,
.delete,
.add {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.edit:hover,
.delete:hover,
.add:hover {
  color: #3a3A3a;
}
/* Heading */
.section-header,
.new-task-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.new-task-input,
.task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.new-task-input:focus,
.task-input:focus {
  color: #333;
}

/* New Task */
.new-task-label {
  display: block;
  margin: 0 0 20px;
}
.task-input {
  width: 318px;
}

/* Task list */
.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-item > * {
  vertical-align: middle;
}

.checkbox {
  margin: 0 10px;
}
.task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-input {
  width: 226px;
}
.delete-svg {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete-svg:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-list > *:not(.editmode) {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-input {
  display: none;
}

.list-item.editmode .task-input {
  display: inline-block;
  width: 224px;
}

.list-item.editmode .task-label {
  display: none;
}