/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__img {
    width: 100%;
}

.header__link {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {
    .header {
        text-align: center;
    }
}

.main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.task,
.task-input {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
}

.input-item {
    display: flex;
}

.list-todo {
    margin: 0;
    padding: 0px;
}

.list-todo__item,
.title {
    list-style: none;
}

.task-input,
.task,
.list-todo__btn-modify,
.list-todo__btn-remove,
.btn-add {
    outline: none;
}

.list-todo__btn-modify,
.list-todo__btn-remove,
.btn-add {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.list-todo__btn-modify:hover,
.list-todo__btn-remove:hover,
.btn-add:hover {
    color: #3a3A3a;
}

/* Heading */
.title,
.add-item__title {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.task-edit {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.list-todo__item-edit .task-edit {
    display: none;
}

.task-input:focus {
    color: #333;
}

/* New Task */
.add-item__title {
    display: block;
    margin: 0 0 20px;
}

.add-task {
    width: 90%;
}

/* Task list */
.list-todo__item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-todo__item-edit .task-input {
    display: inline-block;
    width: 224px;
}

.list-todo__item-edit .task {
    display: none;
}

.checkbox,
.task,
.task-input,
.task,
.list-todo__btn-modify,
.list-todo__btn-remove {
    vertical-align: middle;
}

.checkbox {
    margin: 0 10px;
}

.task,
.task-input {
    width: 226px;
}

.list-todo__btn-remove-img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.list-todo__btn-remove-img:hover {
    transform: rotateZ(0);
}

/* Completed */
#completed .task {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.hidden {
    display: none;
}

.list-todo__item_edit .task-input {
    display: inline-block;
    width: 224px;
}