/* Basic Style */
.app {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__image {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-task__wrapper {
  display: flex;
}
.task-list {
  margin: 0;
  padding: 0px;
}
.task-list-item,
.title {
  list-style: none;
}
.input,
.button{
  outline: none;
}
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button:hover {
  color: #3a3a3a;
}
/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-list-item__edit-input,
.add-task__edit-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task-list-item__edit-input:focus,
.add-task__edit-input:focus {
  color: #333;
}

/* New Task */
.add-task__title {
  display: block;
  margin: 0 0 20px;
}
.add-task__input {
  width: 318px;
}

/* Task list */
.task-list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-list-item > * {
  vertical-align: middle;
}

.task-list-item__checkbox {
  margin: 0 10px;
}
.task-list-item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-list-item__edit-input {
  width: 226px;
}
.delete-button__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete-button__icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks .task-list-item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list-item .task-list-item__edit-input {
  display: none;
}

.task-list-item__edit-mode .task-list-item__edit-input  {
  display: inline-block;
  width: 224px;
}

.task-list-item__edit-mode .task-list-item__label {
  display: none;
}