/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: lato, sans-serif;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header .header-picture {
    width: 100%;
}

.header .details-link {
    font-family: fantasy, cursive;
}

@media (max-width: 768px) {

.header { text-align: center;
}

}

.task-list-container {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.task-name {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.new-task-input {
    display: flex;
}

.task-list{
    margin: 0;
    padding: 0px;
}

.incomplete-task-element, 
.editing-task, 
.completed-task-element, 
#incomplete-task-title, 
#completed-task-title {
    
    list-style: none;
}

.checkbox-element, 
.task-name, 
.add, 
.edit, 
.delete {
    outline: none;
}

.add, 
.edit, 
.delete {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: lato, sans-serif;
    cursor: pointer;
}

.add:hover, 
.edit:hover, 
.delete:hover {
    color: #3a3a3a;
}

/* Heading */
#incomplete-task-title, 
#completed-task-title,
.new-task-label {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.task-name {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: lato, sans-serif;
    color: #888;
}

.task-name:focus {
    color: #333;
}

/* New Task */
.new-task-label {
    display: block;
    margin: 0 0 20px;
}

.new-task-input #new-task {
    width: 318px;
}

/* Task list */
.incomplete-task-element, 
.editing-task, 
.completed-task-element {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.incomplete-task-element > *, 
.editing-task > *, 
.completed-task-element > * {
    vertical-align: middle;
}

.checkbox-element {
    margin: 0 10px;
}

.incomplete-task-element .task-name, 
.editing-task .task-name, 
.completed-task-element .task-name {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

#todo-task, 
#completed-task, 
#new-task {
    width: 226px;
}

.remove-image {
    height: 2em;
    transform: rotatez(45deg);
    transition: transform 200ms ease-in;
}

.remove-image:hover {
    transform: rotatez(0);
}

/* Completed */
.task-list label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.task-list li input[type=text] {
    display: none;
}

.task-list li.editing-task input[type=text] {
    display: inline-block;
    width: 224px;
}

.task-list li.editing-task label {
    display: none;
}