/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__logo {
  width: 100%;
}

.header__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}

.main {
  display: block;
  width: 400px;
  margin: 0 auto 0;
}

.tasks__task__label {
  width: 56%;
  display: inline-block;
}

.tasks__tasks {
  margin: 0;
  padding: 0px;
}

.button {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}
/* Heading */
.tasks__title,
.add-task__title {
  list-style: none;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.add-task__input {
  outline: none;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 226px;
}

.tasks__task__input {
  display: none;
  outline: none;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.tasks__task__input:focus {
  color: #333;
}

/* New Task */
.add-task__title {
  display: block;
  margin: 0 0 20px;
}

.add-task__input {
  width: 318px;
}

.add-task.button:hover {
  color: #0fc57c;
}

/* Task list */
li {
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li > * {
  vertical-align: middle;
}

li > input[type="checkbox"] {
  margin: 0 10px;
}

.tasks__task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.tasks__task__delete:hover {
  color: #cf2323;
}

.tasks__task__delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.tasks__task__delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks__task__label.complete {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

ul .editMode input[type="text"] {
  display: inline-block;
  width: 224px;
}

ul .editMode label {
  display: none;
}