/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.footer {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.footer__image {
  width: 100%;
}

.footer__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .footer { 
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.main__text-form-item {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.main__text-form {
  display: flex;
}

.main__ul {
  margin: 0;
  padding: 0px;
}

.main__ul-item, 
.main__h3 {
  list-style: none;
}

input, 
.main__btn {
  outline: none;
}

.main__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.main__btn:hover {
    color: #3a3a3a;
}

/* Heading */

.main__h3,
.main__text-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-text:focus {
  color: #333;
}

/* New Task */
.main__text-label {
  display: block;
  margin: 0 0 20px;
}

input#new-task {
  width: 318px;
}

/* Task list */
.main__ul-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__ul-item > * {
  vertical-align: middle;
}

.input-checkbox {
  margin: 0 10px;
}

.main__text-form-item {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.input-text {
  width: 226px;
}

.main__btn-delete-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.main__btn-delete-image:hover {
  transform: rotateZ(0);
}

/* Completed */

.main__ul-completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.main__ul-item .input-text {
  display: none;
}

.main__ul-item-editMode .input-text {
  display: inline-block;
  width: 224px;
}

.main__ul-item-editMode .main__text-form-item-label {
  display: none;
}