/* Basic Style */
body {
   background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(224, 223, 223));
   color: #000000;
   font-family: Lato, sans-serif;
}
/* Header style */
header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.logo__img {
  width: 100%;
  
}

.details__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
    
  .info {
    text-align: center;
  }
/* Main style */
}
main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task__info {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-task__add{
  display: flex;
}

.open-tasks,
.closed-tasks {
  margin: 0;
  padding: 0px;
}

.task,
.task-group__name {
  list-style: none;
}

.new-task__input,
.task__checkbox,
.task__input,
.btn {
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.new-task__label,
.task-group__name {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.new-task__input,
.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: rgb(0, 0, 0);
  flex-grow: 1
}

.new-task__input:focus,
.task__input:focus {
  color: #333;
}

/* New Task */
.new-task__label {
  display: block;
  margin: 0 0 20px;
}

.new-task__input {
  width: 318px;
}

.new-task__btn:hover {
  color: #0fc57c;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > * {
  vertical-align: middle;
}
.task__checkbox {
  margin: 0 10px;
}

.task__info {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__input {
  width: 226px;
}
.task__btn_delete:hover {
  color: #cf2323;
}

.task__btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.closed-tasks .task__info {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__input {
  display: none;
}
.task_edit .task__input {
  display: inline-block;
  width: 224px;
}

.task_edit .task__info {
  display: none;
}

/* Footer style */
footer {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}