/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.image-wrap {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.image-wrap img {
  width: 100%;
}

.image-wrap .more-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .image-wrap { 
  text-align: center;
  }
}

.element-centered {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrapper {
  display: flex;
}

ul {
  margin: 0;
  padding: 0px;
}

li, h3 {
  list-style: none;
}

input,button{
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3A3a;
}
/* Heading */
h3,
label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task:focus {
  color: #333;
}

/* New Task */
label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

.btn:hover {
  color: #0FC57C;
}

/* Task list */
.tasks-list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-list > * {
  vertical-align: middle;
}

.tasks-list > input[type="checkbox"] {
  margin: 0 10px;
}

.tasks-list > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task {
  width: 226px;
}

.delete-btn:hover {
  color: #CF2323;
}

.delete-btn img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-btn img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-list > input[type=text] {
  display: none;
}

.edit-mode input[type=text] {
  display: inline-block;
  width: 224px;
}

.edit-mode > label {
  display: none;
}