/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-row {
  display: flex;
  margin: 20px 0 0;
}
.tasks-list {
  margin: 0;
  padding: 0px;
}
.task-list__item,
.heading {
  list-style: none;
}
.input-checkbox,
.input-text,
.button{
  outline: none;
}
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button:hover {
  color: #3a3a3a;
}
/* Heading */
.heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input-text:focus {
  color: #333;
}

/* New Task */
.task-row__input-text {
  width: 318px;
}

/* Task list */
.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-checkbox {
  margin: 0 10px;
}
.label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-list__input-text {
  width: 226px;
  display: none;
}

.button-delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks .label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list__item_mode_edit .input-text {
  display: inline-block;
  width: 224px;
}

.task-list__item_mode_edit .label {
  display: none;
}