.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.list__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  outline: none;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.main__ul-tasks {
  margin: 0;
  padding: 0px;
}

.main__task-wrapper {
  display: flex;
}

.main__head-h3 {
  list-style: none;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.list__button-edit,
.list__button-add,
.list__button-delete {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.list__button-edit:hover {
  color: #3a3a3a;
}

.h3-new-task {
  display: block;
  margin: 0 0 20px;
}

.list__edit-task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 23px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 226px;
}

.list__edit-task:focus {
  color: #333;
  outline: none;
}

#new-task {
  width: 318px;
}

.ul-tasks__list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.list__input-checkbox {
  margin: 0 10px;
}

.list__button-delete:hover {
  color: #cf2323;
}

.list__img-delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.list__img-delete:hover {
  transform: rotateZ(0);
}

.task-complete {
  text-decoration: line-through;
  color: #888;
}

.input-hidden {
  display: none;
}

.input-visible {
  display: inline-block;
  width: 335px;
}

.label-hidden {
  display: none;
}
